.feedback-modal{
    width:450px;
    background:white;
    padding:25px;
    border-radius:18px;
}

.feedback-modal textarea,
.feedback-modal select{
    width:100%;
    margin-bottom:15px;
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
}

.feedback-modal textarea{
    height:120px;
    resize:none;
}